body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header, .hero-section, .footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    
}

.hero-section {
    padding: 20px 200px 100px;
    flex-direction: column;
    align-items: stretch;
    gap: 100px;
}

.header {
    font-size: 24px;
    font-weight: 900;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.menu, .hero-subtext, .hero-button, .cta-button {
    font-size: 18px;
    font-weight: 1;
    color: #e5e7eb
}

.hero-pitch {
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-button {  
    background-color: #3882F6;
    padding: 5px 30px;
    border-radius: 7px;
    border: 0;
}

.content {
    flex: 1;
}

.info-title {
    padding: 40px 0;
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 60px;
}

.info-container img {
    width: 120px;
}

.card {
    flex-basis: 15%;
    text-align: center;
    font-size: 18px;
}

.quote {
    padding: 100px 250px;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    
}

.author {
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

.box {
    margin: 100px 170px;
    padding: 50px 70px;
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}

.cta-header {
    font-weight: 900;
}

.cta-button {
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    padding: 5px 30px;
    border-radius: 7px;

}

.footer {
    padding: 30px;
    align-items: center;
    justify-content: center;
}